#getPicture {
  margin-top: 10px;
}

#video {
  max-width: 300px;
  max-height: 300px;
  transform: scale(1,1) !important;
}
#videoXP {
  max-width: 100%;
  max-height: 500px;
  transform: scale(1,1) !important;
}

#canvas {
  display: none;
}

#passArea {
  font-family: "DejaVu Sans Mono";
  color: #22b;
}

#pass_response {
  color: #b22;
  animation: blink 1s 3;
  animation-iteration-count:infinite;
  padding: 0px 10px;
}
@keyframes blink{
  50% {
    color: transparent;
  }
}

#imageSnapped {
  display: block;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#wordsBack {
  display: none;
}

#showPicture {
  position: relative;
  display: inline-block;
}

#showWords {
  display: none;
  background-color: rgba(50, 50, 50, 0.6);
  position: absolute;
  top: 40%;
  left: 0;
  padding: 5px 15px;
  color: white;
}

#ending {
  font-size: 8px;
  color: #bbb;
  padding: 10px 50px;
  text-align: center;
  margin-bottom: 5px;
}

.directions {
  font-size: 12px;
  font-style: italic;
  color: #888;
  margin-bottom: 5px;
}

.toast {
  min-width: 300px;
  width: 50%;
}

main {
  font-family: "DejaVu Sans Mono";
}

#forSave {
  position: relative;
  display: inline-block;
  display: none;
}
#savePicture {
  display: block;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
#downloadDiv {
  display: none;
}