{% extends "bootstrap.html" %}

{% block title %}Zick.me{% endblock %}

{% block head %}
{{ super() }}
<link href="static/zickme.logo.png" rel="shortcut icon" type="image/png">
<link rel="apple-touch-icon" href="static/zickme.logo.png">
<!--<link href="static/zickme.logo.svg" rel="icon" type="image/svg">-->
<link href="static/style.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/static/zickme.logo.png" width="50" height="50" class="me-3" alt="Zick.me"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
              aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a id="home" class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a id="maker" class="nav-link" href="/maker">Maker</a>
          </li>
          <li class="nav-item">
            <a id="vTag" class="nav-link" href="/vTag">vTag(alpha)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">我们不会存储您的图片。We will NOT save your image.</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<main>
<div class="container-md themed-container">
{% block page_content %}{% endblock %}
</div>
</main>
<div class="bd-example bg-dark p-5 align-items-center mt-3">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="static/zickme.logo.png" width="20" height="20">
            <strong class="me-auto">Zick.me</strong>
            <small class="text-muted">5 secs ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p>Zickme不存储您的图片，被存储的只有矢量节点信息。</p>
            <p>This project is made for anyone, who wants to make some image 'mean something', and then share it to everyone, who wants to know that 'mean'.</p>
            <p>Zickme will NOT save your image! Only the Vector information like below will be save. </p>
            <img src="static/featured_1.jpg">
            <p style="font-style:italic;">This is a vector information map of an elephant.</p>
            <p>for more details, </p>
            <p>visit <a class="link-info" href="https://github.com/deadlyedge/zickme">Github...deadlyedge/zickme</a>
            or <a class="link-info" href="mailto:xdream@gmail.com?subject=Feedback about Zickme&body=Message">
            Send me a Feedback. </a></p>
            <div id="footer"> ver.{{ version }} </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="static/webcam-easy.js"></script>
{% endblock %}
