{% extends "base.html" %}

{% block page_content %}
<div class="alert alert-warning">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    {{ message }}
</div>
<form action="" method="post"
      class="form" enctype="multipart/form-data">
        <p class="directions">Gives you by "Someone" or from "Somewhere". 不知从哪里弄来的口令</p>
    <div class="input-group mb-3 required" id="passDiv">
        <span class="input-group-text" id="basic-addon1">!PASS</span>
        <input class="form-control input-lg" id="passArea" name="passArea"
               required placeholder="输入你的口令">
    </div>
    <div id="getPicture">
        <video id="video" autoplay playsinline></video>
        <canvas id="canvas"></canvas>
        <div id="showPicture">
            <img id="imageSnapped" src="">
            <div id="showWords"></div>
        </div>
        <p><button class="btn btn-outline-danger" id="snap" type="button">Snap Photo</button></p>
    </div>

    <input class="btn btn-outline-warning" id="reset" name="reset" type="button" value="One more...">
    <input class="btn btn-outline-success" id="submit" name="submit" type="submit" value="Get WORDS!">

    <div class="form-group" id="wordsBack"><label class="control-label" for="wordsArea">Your WORDS:</label>
        <textarea class="form-control" id="wordsArea" name="wordsArea"></textarea>
    </div>
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $('.alert').hide();
    $('#home').addClass('active');
    const webcamElement = document.getElementById('video');
    const canvasElement = document.getElementById('canvas');
    const webcam = new Webcam(webcamElement, 'environment', canvasElement);  //
    var picture = null;
    $('#passArea').focus()

    webcam.start()
    .then(result =>{
        console.log("webcam started");
    })
    .catch(err => {
        console.log(err);
    });

    $('#snap, #video').click(function() {
        let snapped = webcam.snap();
        picture = canvasElement.toDataURL('image/jpeg');
        $('#imageSnapped').attr('src', picture);
    });

    $('#reset').click(function() {
        picture = null;
        $('#imageSnapped').attr('src', '');
        $('#passArea').val('');
        $('#showWords').text('');
        $('#showWords, #showPicture').hide();
        $('#video, #passDiv, #submit, #snap, .directions').show(500);
        $('#passArea').focus();
    });

    $('#submit').click(function(event) {
        event.preventDefault();
        if( !$('#passArea').val() ) {
            alert('需要填写PASS');
            $('#passArea').focus();
            return false;
        };
        if(picture == null){
            let snapped = webcam.snap();
            picture = canvasElement.toDataURL('image/jpeg');
            $('#imageSnapped').attr('src', picture);
        };
        var data = {
            passArea: $('#passArea').val(),
            picture: picture
        };
        $('#submit').prop('disabled', true);

        $.ajax({
            type: 'POST',
            url: '/',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
                $('#video, #passDiv, #submit, #snap, .directions').hide();
                $('#showWords').text(response);
                $('#showWords, #showPicture').show(500);
                $("#submit").prop("disabled", false);
            }
        });
    });
});
</script>
{% endblock %}
