{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="container">
    <div class="alert alert-warning">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        {{ message }}
    </div>
    <form action="" method="post"
          class="form" enctype="multipart/form-data" role="form">
        <div id="getPicture">
            <video id="video" autoplay playsinline></video>
            <canvas id="canvas"></canvas>
            <img id="imageSnapped" src="">
            <p><button class="btn btn-danger" id="snap" type="button">Snap Photo</button></p>
        </div>
        <div class="form-group  required"><label class="control-label" for="passArea">Your <b>PASS</b>:</label>
            <p>Make a <b>PASS</b>, which you could share it around.</p>
            <p>Your friend or just "Someone" will get your words by the PASS and with a picture "Similar" to the one you just shot. </p>
            <input class="form-control input-lg" id="passArea" name="passArea"
                   required placeholder="添加一个口令">
            <div id="pass_response"></div>
        </div>
        <div class="form-group  required"><label class="control-label" for="wordsArea">your words:</label>
            <textarea class="form-control" id="wordsArea" name="wordsArea"
                      required placeholder="输入你想说的话"></textarea>
        </div>
        <input class="btn btn-success" id="submit" name="submit" type="submit" value="POST ZICK!">
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    $('.alert').hide();
    const webcamElement = document.getElementById('video');
    const canvasElement = document.getElementById('canvas');
    const webcam = new Webcam(webcamElement, 'environment', canvasElement);  //
    var picture = null;

    webcam.start()
    .then(result =>{
        console.log("webcam started");
    })
    .catch(err => {
        console.log(err);
    });

    $("#passArea").keyup(function(){
        var username = $(this).val().trim();
        if (username != '') {
            $.ajax({
                url: 'passCheck',
                type: 'post',
                data: JSON.stringify({username: username}),
                contentType: "application/json",
                success: function(response){
                    $('#pass_response').html(response);
                }
            });
        } else {
            $("#pass_response").html("");
        }
    });

    $('#snap, #video').click(function() {
        let snapped = webcam.snap();
        picture = canvasElement.toDataURL('image/jpeg');
        $('#imageSnapped').attr('src', picture);
    });

    $('#submit').click(function(event) {
        event.preventDefault();
        if( !$('#passArea').val() ) {
            alert('需要填写PASS');
            return false;
        };
        if( $('#pass_response').text() ) {
            alert('PASS不可用，请重新填写');
            $('#passArea').focus();
            return false;
        };
        if( !$('#wordsArea').val() ) {
            alert('也需要填写你想说的话');
            return false;
        };
        if(picture == null){
            let snapped = webcam.snap();
            picture = canvasElement.toDataURL('image/jpeg');
            $('#imageSnapped').attr('src', picture);
        };
        var data = {
            passArea: $('#passArea').val(),
            wordsArea: $('#wordsArea').val(),
            picture: picture
        };
        $('#submit').prop('disabled', true);

        $.ajax({
            type: 'POST',
            url: 'maker',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
                $(".alert").show();
                $(".alert").text(response);
                $("#submit").prop("disabled", false);
                alert('Your words ' + response + ' is saved!');
                window.location.href = '/'
            }
        });
    });
});
</script>
{% endblock %}
