{% extends "base.html" %}

{% block page_content %}
<div id="showPicture">
    <video id="videoXP" autoplay playsinline></video>
    <canvas id="canvas"></canvas>
<!--    <img id="imageSnapped" src="">-->
    <div id="showWords"></div>
</div>
<form action="" method="post"
      class="form" enctype="multipart/form-data">
        <p class="directions">Gives you by "Someone" or from "Somewhere". 不知从哪里弄来的口令</p>
    <div class="input-group mb-3 required" id="passDiv">
        <span class="input-group-text" id="basic-addon1">!PASS</span>
        <input class="form-control input-lg" id="passArea" name="passArea"
               required placeholder="输入你的口令">
    </div>
<!--    <div id="getPicture">-->
<!--    </div>-->
    <input class="btn btn-outline-warning" id="reset" name="reset" type="button" value="One more...">
    <input class="btn btn-outline-success" id="submit" name="submit" type="submit" value="Start vTag!">
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="static/vTag.js"></script>
{% endblock %}
